$primary-background: white;
$frontend-font: 'Abril Fatface';
$backend-font: 'Roboto Mono';
$simple-font: sans-serif;
$click-color: #59D2ED;
$background-color: #F05355;
$input-focus: linear-gradient(165deg, hsla(359°, 84%, 63%, .4), 50%, hsla(191°, 80%, 64%, .5));
$outer-border-width: 4px;
$inner-border-width: 4px;


