$primary-background: white;
$frontend-font: 'Abril Fatface';
$backend-font: 'Roboto Mono';
$simple-font: sans-serif;
$click-color: #59D2ED;
$background-color: #F05355;
$outer-border-width: 4px;
$inner-border-width: 4px;


