@import 'variables';
@import 'buttons';
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);

*,
*:after,
*:before {
  box-sizing: border-box;
}

//splash page
body {
  font-family: $simple-font;
  background-image: url("../images/feud_splash_bkgd.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

#splash-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

#splash-page-img-feud {
  width: 800px;
}

#splash-page-img-fevsbe {
  width: 450px;
  margin: 30px auto;
}

#splash-page-img-vs {
  width: 50px;
}

#vs-inputs {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

img {
  margin: 20px;
}

// all pages
input {
  color: black;
  background-color: white;
  font-size: 25px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;

  &:focus {
    outline: none;
  }

  &::placeholder {
  color: gray;
  font-size: 20px;
  }
}


#guess-input {
  width: 400px;
}


.focus:focus {
  outline: 3px solid black;
}  


button {
  background-color: $click-color;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px;
  padding: 20px;
  width: 200px;

  &:enabled {
     @include outline-out($click-color); 
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }
}

#black-button {
  background-color: black;
    &:enabled {
     @include outline-out(black); 
  }
}

// game page
#game-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 50px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

#header-img-feud {
  width: 140px;
}

#game-header {
  margin-left: 75px;
  text-align: center;
}

#timer-header {
  text-align: center;
}

h1 {
  padding: 0px 20% 20px 20%;
  text-align: center;
}

#player-guess-info {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

.innactive {
  opacity: 0.3;
}

section {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 500px;
  text-align: center;
  justify-content: center;
}

.survey-num {
  width: 80%;
}

.survey-score {
  background-color: $background-color;
  width: 20%;
}

main {
  margin: 10px;
  width: 500px;
  text-align: center;
  justify-content: center;
}

.modal-structure {
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  align-items: center;
  background-color: white;
  background-image: url("../images/feud_modal_bkgd.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 50%;
  .survey-num {
    background-color: $background-color;
  } 
  .survey-score {
    background-color: black;
  }
}

#point {
  margin: auto 10px;
}

#fastmoney-modal-content {
  width: 55%;
}

h6 {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: $simple-font;
  font-weight: bold;
  // font-size: 35px;
  font-size: 30px;
  margin: 10px;
}

p {
  font-family: $simple-font;
  font-size: 20px;
  font-weight: bold;
}

.endgame,
.help
 {
  font-size: 23px;
}

.winner-p {
  font-family: $simple-font;
  font-size: 25px;
  margin: 15px;
  text-align: center;
}

ul {
  margin: 10px auto;
}

li {
  font-family: $simple-font;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  margin: 0 0 20px 0;

  &:before {
    content: '>';
    margin-left: -20px;
    margin-right: 10px;
  }
}

#multi-inputs {
  display: flex;
}

h2 {
  background-color: black;
  color: white;
  font-family: $simple-font;
  text-align: center;
  padding: 10px;
}

h3 {
  font-family: $simple-font;
  font-size: 40px;
  margin: 0;
  padding: 5px;
}

#timer {
  color: white;
}

.h5-fe {
  font-family: $frontend-font;
  font-size: 35px;
  letter-spacing: 3px;
  margin: 0;
  padding: 5px;
}

.h5-be {
  font-family: $backend-font;
  font-size: 30px;
  margin: 0;
  padding: 5px;
}

h4 {
  font-size: 75px;
  margin: 0;
  padding: 5px;
}

.h4-fe {
  font-family: $frontend-font;
  letter-spacing: 3px;
}

.h4-be {
  font-family: $backend-font;
}

.carrot {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,100% {
    opacity: 0.5;
  }
  50% {
    font-size: 6em;
    opacity: 1;
    color: black;
  }
}

footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  p {
    color: $click-color;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }
}

.help:hover {
  cursor: help;
}

.multipliers {
  height: 25px;
  width: 100px;
}

#multipliers {
  align-items: center;
  display: flex;
  font-family: $simple-font;
  position: relative;
}

select {
  background-color: $click-color;
  border: none;
  color: white;
  font-size: 18px;
  height: 25px;
  margin: 10px;
  outline: 1px solid white;
  outline-offset: -1px;
  width: 50px;
}

label {
  font-family: $simple-font;
  font-weight: bold;
  font-size: 25px;
}
